.divs {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005F6B;
}

.divcenter {
    width: 350px;
    height: 500px;
    background-color: #00DFFC;
    border-radius: 20px;
    padding: 5px;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center
}

label {
    margin: 10px;
}

input {
    margin: 10px;
}

h1 {
    position: relative;
    left: 90px;
}

.box {
    width: 300px;
    height: 190px;
    border-radius: 20px;
    background-color: #00DFFC;
    color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    margin: 10px;
}

.divsList {
    width: 100vw;
    height: 100vh;
    background-color: #005F6B;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 4px;
}

.arrangeList {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.error {
    color: red;
    margin: 2px;
}