.divcenter {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.but {
    width: 100px;
    height: 50px;
    margin: 20px;
    border: 2px solid rgb(103, 30, 219);
    background-color: rgb(197, 179, 240)
}

input {
    margin: 20px;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

.ans {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(22, 91, 151);
    font-size: 50px;
}

.submit {
    width: 100px;
    height: 40px;
}